bssody{
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}
header{
	background-color: #2c3e50;
	color: white;
	padding: 1em;
	text-align: center;

}
nav ul{
	list-style-type: none;
	padding: 0;

}
nav ul li{
	display: inline;
	margin-right: 10px;
}
nav ul li a{
	color: white;
	text-decoration: none;

}
main{
	padding: 20px;

}
section{
	margin-bottom: 40px;

}
footer{
	background-color: #2c3e50;
	color: white;
	text-align: center;
	padding: 1em;
	position: fixed;
	width: 100%;
	bottom: 0;
}
address{
	font-style: normal;
	line-height: 1.5;
}